* {
  padding: 0;
  margin: 0;
  font-family: Rubik;
}

body {
  max-width: 450px;
  min-width: 300px;
  padding: 0 24px;
  margin: 0 auto;
  margin-top: 120px;
}

h1 {
  font-family: Anybody;
  font-size: 54px;
  padding-bottom: 16px;
  display: inline-block;
  font-weight: 900;
}

h2 {
  font-family: Anybody;
  padding-bottom: 4px;
  font-size: 34px;
  display: inline-block;
  font-weight: 400;
}

h3 {
  padding-bottom: 4px;
}

.body_copy {
  margin-bottom: 24px;
}

section {
  padding: 0 0 32px 0;
  margin: 0;
  /* background-color: lightblue; */
}

hr {
  margin-bottom: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9d00;
}
