* {
	padding: 0;
	margin: 0;
	font-family: "Space Grotesk";
	transition: all 0.15s ease;
	font-weight: 500;
}

::selection {
	color: #ff9d00;
	text-shadow: 0 0 15px #ff9d00b6;
	background-color: #ff9d0015;
}

body {
	width: 100%;
	max-width: 450px;
	padding: 0 24px;
	margin: 0 auto;
	margin-top: 120px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-family: "Instrument Serif";
	font-size: 72px;
	line-height: 72px;
	display: inline-block;
	margin-bottom: 24px;
}

h2 {
	font-family: "Instrument Serif";
	padding-bottom: 4px;
	font-size: 46px;
	display: inline-block;
}

h3 {
	font-size: 22px;
	padding-bottom: 4px;
	font-weight: 700;
}

p {
	margin-bottom: 24px;
}

.desc {
	opacity: 50%;
}

a {
	color: #000000;
	cursor: pointer;
}

section {
	padding: 0 0 128px 0;
	margin: 0;
	/* background-color: lightblue; */
}

hr {
	margin: 0px 0 16px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #ff9d00;
}

hr:has(.section) {
	margin-bottom: 16px;
}

.bnw {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.square {
	/* max-width: 100%; */
}

.headshot_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.card {
	background-color: #00000027;
	position: relative; /* Establish a positioning context for the overlay */
	border-radius: 4px;
	overflow: hidden;
}

.card:hover {
	border-radius: 8px;
	cursor: default;
}

.card > img {
	margin: auto 0;
}

.card:hover > .headshot {
	filter: brightness(0.7) grayscale() brightness(95%) contrast(105%);
	background-color: #00000090;
}

.headshot {
	width: 100%;
	aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
	object-fit: cover; /* Ensure image covers the container without distortion */
	display: block;
}

.overlay_text {
	position: absolute; /* Position text over the image */
	top: 90%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%);
	color: white; /* Ensure text is visible on the image */
	font-size: 16px; /* Adjust font size */
	text-align: center; /* Center text alignment */
	white-space: nowrap;
	opacity: 100;
	filter: drop-shadow(0px 0px 10px #000000);
}

.personal_statement {
	position: absolute; /* Position text over the image */
	white-space: wrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	color: white; /* Ensure text is visible on the image */
	font-size: 16px; /* Adjust font size */
	text-align: center; /* Center text alignment */
	opacity: 0;
}

.card:hover > .personal_statement {
	opacity: 100;
}

.card:hover > .overlay_text {
	opacity: 0;
}

.headshot_grid > *:hover {
	transform: scale(1.02);
}

.projects {
	align-self: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 450px);
	column-gap: 16px;
	justify-items: center;
	justify-content: center;

	width: calc(100vw - 320px);
	max-width: 1500px;
	min-width: 100%;
}

.projects a {
	text-decoration: none;
}

.project_card {
	width: 450px;
	padding: 14px 16px 10px 16px;
	background-color: hsla(0, 0%, 0%, 0.05);
	margin: 0 0 16px 0;
	border-radius: 12px;
	height: 450px;
	overflow: hidden;
	border: none;
	text-align: left;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	gap: 6px;
}

.project_card:hover {
	transform: scale(103%);
}

.project_card > h3 {
	font-weight: 500;
}

.project_card > video,
.project_card > img {
	width: 100%;
	height: 90%;
	object-fit: cover;
	border-radius: 4px;
}

.project_card:hover > * {
}

.two_column {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
	row-gap: 8px;
}

.two_column > li {
	padding: 8px 0;
	border-bottom: 1px solid #00000020;
	cursor: auto;
}

.two_column > li:hover {
	color: #ff9d00;
	text-shadow: 0 0 15px #ff9d00b6;
}

/******* MODAL *******/

#project_modal {
	position: fixed;
	top: 5svh;
	height: 90svh;
	left: 2%;
	width: 96%;
	box-sizing: border-box;
	background: rgba(255, 255, 255);
	border-radius: 46px;
	box-shadow: 0 2px 60px #00000030;
	opacity: 0;
	pointer-events: none;
	z-index: 2;
	padding: 24px 24px;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@media only screen and (min-width: 1000px) {
	#project_modal {
		max-width: 900px;
		left: calc(50% - 450px);
		padding: 36px 36px;
	}
}

#project_modal[active] {
	opacity: 1;
	pointer-events: auto;
}

#project_modal h1 {
	max-width: 80%;
}

#project_modal img,
#project_modal video {
	max-width: 100%;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.1);
}

#project_modal img {
	width: 100%;
	margin-bottom: 4px;
}

#project_modal video {
	max-height: 80svh;
}

.video_container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
	overflow: hidden;
}

#project_modal caption {
	width: 100%;
}

#modal_close {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000020;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	backdrop-filter: blur(32px);
}

#modal_close[active] {
	opacity: 1;
	pointer-events: auto;
}
body:has(> #project_modal[active]) {
	overflow: hidden;
}
#project_modal div.content {
	overflow: scroll;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#project_modal div.content::-webkit-scrollbar {
	display: none;
}

#project_modal .exit_button {
	all: unset; /* Resets all inherited styles */
	background-color: rgba(255, 255, 255, 0.15);
	color: rgb(156, 156, 156);
	backdrop-filter: blur(15px);
	mix-blend-mode: difference;
	border-radius: 10px;
	cursor: pointer;

	filter: drop-shadow(0px 0px 10px #000000);
	filter: drop-shadow(0px 0px 7px #0000009b);

	backdrop-filter: brightness(1.35);

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 1;
	margin: 36px;

	transition: all 0.15s ease;
}

#project_modal .exit_button:hover {
	backdrop-filter: brightness(1.4);
	transform: scale(1.1);
}
